@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}
img {
  vertical-align: bottom;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
h1 {
  font-size: 0;
}
h4 {
  color: #fff;
  font-size: 1rem;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  overflow-x: hidden;
}


/* ======================================================
header 
====================================================== */
header {
  width: min(100% - 40px,1080px);
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav {
  display: none;
}
header nav ul {
  font-size: 1.25rem;
  display: flex;
  gap: 24px;
  height: 80px;
}
header nav ul li {
  cursor: pointer;
  position: relative;
  height: 100%;
  line-height: 80px;
}
header nav ul li:hover {
  opacity: .7;
}
header nav ul li::before {
  content: '';
  width: 0;
  height: 2px;
  background: #111;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30%;
  transition: all .5s;
}
header nav ul li:hover::before {
  width: 100%;
}
header nav ul li::after {
  content: '';
  width: 60px;
  height: 60px;
  background: rgba(135, 206, 235, .5);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: -1;
}
header #hamburger {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: rgba(135, 206, 235, .4);
  position: relative;
  cursor: pointer;
  z-index: 3;
}
header #hamburger::before {
  content: '';
  width: 70%;
  height: 3px;
  background: #111;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  transition: transform .3s;
  }
  header #hamburger.show::before {
    transform: rotate(-45deg) translate(-18px, -5px);
  }
  header #hamburger::after {
  content: '';
  width: 70%;
  height: 3px;
  background: #111;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  transition: transform .3s;
  }
  header #hamburger.show::after {
    transform: rotate(45deg) translate(-17px, 7px);
  }
header #hamburger span {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
}
header #hamburger span.show {
  opacity: 0;
}
header #openmenu {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  z-index: 4;
}
header #openmenu.show {
  opacity: 1;
  pointer-events: all;
}
header #openmenu ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
header #openmenu ul li {
  font-size: 1.25rem;
  margin-top: 36px;
  width: 80px;
  opacity: 0;
  color: #fff;
  transform: translateY(80px);
  transition: transform .3s, opacity.3s;
}
header #openmenu.show ul li:nth-child(1) {
  opacity: 1;
  transform: translateY(0);
}
header #openmenu.show ul li:nth-child(2) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: .2s;
}
header #openmenu.show ul li:nth-child(3) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: .4s;
}
header #openmenu ul li::before {
  content: '';
  width: 0;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0%;
  transition: all .5s;
}
header #openmenu ul li:hover::before {
  width: 100%;
}
header #mask {
  pointer-events: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .9);
  opacity: 0;
  transition: opacity .3s;
  z-index: 2;
}
header #mask.show {
  pointer-events: all;
  opacity: 1;
}

/* ======================================================
mainvisual
====================================================== */
main .mainvisual {
  width: 100vw;
  height: 80vh;
  background: pink;
  background-image: url(AdobeStock_613921886.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
}
main .mainvisual > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, .25);
}
main .mainvisual > div h2 {
  font-size: 60px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #ccc;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, .3);
  
}

/* ======================================================
about 
====================================================== */
main .about {
  width: min(100% - 40px, 1080px);
  margin: 30px auto 0;
}
main .about h3 {
  text-align: center;
  font-size: 2.5rem;
}
main .about-box {
  background-color: #fff;
  padding: 24px;
  margin: 24px auto 0;
  text-align: center;
  border: 1px solid #555;
  border-radius: 12px;
  width: 100%;
  max-width: 720px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .8);
}
main .about-box .p1 {
  font-size: 1.2rem;
}
main .about-box .p2 {
  font-size: 1.75rem;
  border-bottom: 3px solid skyblue;
}
main .about-box div div {
  margin-top: 24px;
  font-size: 1.2rem;
}
main .about-box div div p + p {
  margin-top: 12px;
}
main .about-box .about-img {
  margin: 30px auto 0;
  width: 240px;
  height: 240px;
  overflow: hidden;
  border-radius: 50%;
}
main .about-box .about-img img {
  width: 100%;
  object-fit: cover;
}

/* ======================================================
works
====================================================== */
main .works {
  padding-top: 30px;
  padding-bottom: 160px;
  background: #111;
  margin-top: 90px;
}
main .works h3 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
}
main .works .portfolios {
  width: min(100% - 40px, 1080px);
  margin: 30px auto 0;
  position: relative;
}
main .works .portfolios .portfolio-site div {
  width: 100%;
  position: relative;
}
main .works .portfolios .portfolio-site div + div {
  margin-top: 20px;
}
main .works .portfolios .portfolio-site div img {
  width: 100%;
  cursor: pointer;
  margin-top: 8px;
  transition: opacity .3s;
  opacity: 1;
}
main .works .portfolios .portfolio-site div img:hover {
  opacity: .2;
}
main .works .portfolios .portfolio-site div a{
  width: 160px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50%;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  z-index: 2;
}
main .works .portfolios .portfolio-site div img:hover + a{
  opacity: 1;
  pointer-events: all;
}

main .works .portfolios .portfolio-img {
  margin-top: 30px;
}
main .works .portfolios .portfolio-img ul {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
main .works .portfolios .portfolio-img ul li {
  width: calc((100% - 16px)/2);
}
main .works .portfolios .portfolio-img ul li img {
  width: 100%;
}
main .works .all-portfolio {
  font-weight: lighter;
  font-size: .85rem;
  color: #fff;
  border-bottom: 1px solid yellow;
  margin-top: 20px;
  width: 80px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: -45px;
  cursor: pointer;
}
main .works .all-portfolio::after {
  content: '';
  width: 1px;
  height: 20px;
  background: yellow;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transform: rotate(-45deg) translateX(-7px) translateY(-2px);
  transition: opacity .3s;
}
main .works .all-portfolio:hover::after {
  opacity: 1;
}
main .works .all-portfolio:hover {
  opacity: .7;
}

/* ======================================================
portfolio
====================================================== */
main .works-portfolio {
  padding-top: 60px;
  padding-bottom: 160px;
  background: #111;
}
main .works-portfolio h2 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: normal;
}
main .works-portfolio .portfolios {
  width: min(100% - 40px, 1080px);
  margin: 20px auto 0;
  position: relative;
}
main .works-portfolio .portfolio-site h3 {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: normal;
}
main .works-portfolio .portfolios .portfolio-site > div {
  width: 100%;
  position: relative;
  margin-top: 20px;
}
main .works-portfolio .portfolios .portfolio-site div + div {
  margin-top: 80px;
}
main .works-portfolio .portfolios .portfolio-site div img {
  width: 100%;
  margin-top: 8px;
}
main .works-portfolio .portfolios .portfolio-site div div {
  font-weight: lighter;
  font-size: 1rem;
  color: #fff;
  border-bottom: 1px solid yellow;
  margin-top: 20px;
  width: 120px;
  height: 28px;
  position: absolute;
  right: 0;
  bottom: -45px;
  cursor: pointer;
}
main .works-portfolio .portfolios .portfolio-site div div::after {
  content: '';
  width: 1px;
  height: 32px;
  background: yellow;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transform: rotate(-45deg) translateX(-11px) translateY(-3px);
  transition: opacity .3s;
}
main .works-portfolio .portfolios .portfolio-site div div:hover::after {
  opacity: 1;
}
main .works-portfolio .portfolios .portfolio-site div div:hover {
  opacity: .7;
}
main .works-portfolio .portfolios .portfolio-img {
  margin-top: 160px;
}
main .works-portfolio .portfolio-img h3 {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: normal;
}
main .works-portfolio .portfolios .portfolio-img ul {
  margin-top: 20px;
}
main .works-portfolio .portfolios .portfolio-img ul li {
  width: 100%;
}
main .works-portfolio .portfolios .portfolio-img ul li + li {
  margin-top: 20px;
}
main .works-portfolio .portfolios .portfolio-img ul li img {
  width: 100%;
  margin-top: 8px;
}

/* ======================================================
contact
====================================================== */
main  {
  border-top: 1px solid #ddd;
}
main .contact-form {
  width: min(100% - 40px,720px);
  margin: 60px auto;
}
main .contact-form h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: normal;
}
main .contact-form div {
  width: 100%;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
  margin-top: 20px;
  padding: 24px;
  background-color: #fff;
}
main .contact-form div input {
  width: 100%;
  padding: 8px;
  border: 1px solid #eee;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
  font-size: 1.1rem;
}
main .contact-form div input + input {
  margin-top: 20px;
}
main .contact-form div textarea {
  resize: none;
  margin-top: 20px;
  width: 100%;
  padding: 8px;
  border: 1px solid #eee;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
  font-size: 1.1rem;
}
main .contact-form div .button {
  width: 200px;
  padding: 16px 0;
  background: skyblue;
  color: #fff;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
  text-align: center;
  margin: 28px auto 0;
  cursor: pointer;
  transition: all .3s;
}
main .contact-form div .button:hover {
  opacity: .6;
}
main .contact-form div .button:active {
  box-shadow: none;
}

/* ======================================================
footer 
====================================================== */
footer {
  background-color: skyblue;
  text-align: center;
  padding-top: 60px;
}
footer .footer-sns ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
footer .footer-sns li {
  cursor: pointer;
  position: relative;
  width: 48px;
  height: 48px;
}
footer .footer-sns li:hover {
  opacity: .7;
  scale: 1.2;
}
footer .footer-copy {
  margin-top: 32px;
  padding-bottom: 32px;
  color: #fff;
}

/* ======================================================
background
====================================================== */
body #background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
body #background  > div {
  display: flex;
  flex-wrap: nowrap;
}
body #background  div img {
  transform: rotate(25deg);
}
body #background div div {
  width: 480px;
  height: 120px;
}
body #background > div {
  animation: anime 90s linear infinite forwards;
}
@keyframes anime {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* ======================================================
media
====================================================== */
@media screen and (min-width:720px) {
  header nav {
    display: block;
  }
  header #hamburger {
    display: none;
  }
  main .about .about-box {
    display: flex;
    height: 300px;
    text-align: center;
    justify-content: space-between;
    padding: 36px;
  }
  main .about-box .about-img {
    margin: 0;
  }
  main .works .portfolios {
    display: flex;
    gap: 32px;
  }
  main .works .portfolios .portfolio-site {
    flex: 1;
  }
  main .works .portfolios .portfolio-img {
    flex: 1;
    margin-top: 0;
  }

  main .works-portfolio .portfolios .portfolio-img ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  main .works-portfolio .portfolios .portfolio-img ul li {
    width: calc((100% - 20px)/2);
  }
  main .works-portfolio .portfolios .portfolio-img ul li + li {
    margin-top: 0;
  }
}
